extends forgot-password

prepend content
  .container
    .alert.alert-danger.alert-dismissable
      button(type="button", class="close", data-dismiss="alert") &times;
      | There was a problem with finding your account.