extends ../../layout
include ../../mixins/form-helpers-v3

block content
  .container.bump
    h1
      | Find Your Account
    p
      | Enter your email address to reset your password. You may need to check your spam folder or unblock no-reply@friendglu.com.
    form(action="/forgot-password", method="post")
      mixin fieldAndLabel({name: 'email', label: 'Email', placeholder: 'Enter email'})
      button(type="submit", class="btn btn-default") Submit