extends layout

block content
  .container
    .starter-template
      h1 HACK UPSTATE PROJECT - Notify
      p.lead
        | This is drop in notification plugin.
        br
        | All you get do is sign up and drop in the code provided to your website.