extends ../layout

block content
  .container.bump
    h1
      | 404
    h2
      | You may have clicked an expired link or mistyped the address. Some web addresses are case sensitive.
    ul
      li
        a(href="/") Go to the Notify homepage