extends reset-password

prepend content
  .container.bump
    .alert.alert-danger.alert-dismissable
      button(type="button", class="close", data-dismiss="alert") &times;
      | There was a problem with resetting your password.
      | Please try again in a few minutes.