extends ../../layout
include ../../mixins/form-helpers-v3

block content
  .container.bump
    h1
      | Reset Your Password
    p
      | Enter a new password for your account.
    form(action="/reset-password", method="post")
      mixin fieldAndLabel({type: 'password', name: 'password', label: 'Password'})
      input(type='hidden', name='token', value=token)
      input(type='hidden', name='email', value=email)
      button(type="submit", class="btn btn-default") Submit