.pull-right
  ul.nav.navbar-nav
    if typeof user !== "undefined"
      li
        a(href="#")= user.username
    else
      li
        a(href="/signup") Sign up
      li
        a(href="/login") Login