extends forgot-password

prepend content
  .container
    .alert.alert-success.alert-dismissable
      button(type="button", class="close", data-dismiss="alert") &times;
      | We have sent you an email with instructions on resetting your password. Please check your spam folder (if it's still missing).
