extends login

prepend content
  .container.bump
    .alert.alert-danger.alert-dismissable
      button(type="button", class="close", data-dismiss="alert") &times;
      | The password you entered is incorrect. Please try again (make sure your caps lock is off).