extends login

prepend content
  .container.bump
    .alert.alert-danger.alert-dismissable
      button(type="button", class="close", data-dismiss="alert") &times;
      | You must be logged in to do that.