extends login

prepend content
  .container.bump
    .alert.alert-danger.alert-dismissable
      button(type="button", class="close", data-dismiss="alert") &times;
      | The email or username you entered does not belong to any account.