extends ../login/login

prepend content
  .container
    .alert.alert-danger.alert-dismissable
      button(type="button", class="close", data-dismiss="alert") &times;
      | This account has already been activated. You may login below.